*, *::after, *::before{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    width: 100%;
    height: 100%;
    background-image: url(./imagens/monophy.gif);
    display: grid;
    grid-template-rows: 70px 1fr 30px;
}

body, ul{
    margin: 0px;
    padding: 0px;
}

a{
    color: rgba(0, 0, 0, 0.726);
    text-decoration: none;
}

a:hover{
    color: rgb(145, 121, 97);
    background: rgba(0, 0, 0, 0.151);
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
}

#header{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    justify-content: space-between;
    background: #efefef;
    grid-row: 1/2;
}

#menu{
    display: flex;
    gap: .5rem;
    list-style: none;
}

#menu a{
    display: block;
    padding: .5rem;
}

#btn-mobile{
    display: none;
}

main{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    grid-row: 2/3;
}

#calendario{
    text-align: center;
    margin-top: 20px;
}

h1 span{
    border: rgb(255, 255, 255) solid 1px;
    background: rgba(145, 121, 97, 0.693);
}

main h1, p{
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.768);
    text-align: center;
}

.principal{
    width: 100%;
    height: fit-content;

}

#resultado{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.texto{
    width: 40%;
    height: 40%;
    margin-bottom: 15px;
}

#title{
    font-size: 22px;
    font-weight: bold;
}

#imagem{
    width: 40%;
    height: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}

#date{
    padding: 5px 10px;
    color: black;
    background: #efefef;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    background: #efefef48;
    color: rgb(145, 121, 97);
}

#date:hover{
    transition: 0.6s;
    background: #efefef;
    color: rgb(145, 121, 97);
}

#botao:hover{
    transition: 0.6s;
    background: #efefef;
    color: rgb(145, 121, 97);
}

#botao{
    padding: 5px 10px;
    font-weight: bold;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    background: #efefef48;
    color: rgb(145, 121, 97);
}

#autor{
    font-weight: bold;
}

footer{
    width: 100%;
    height: 30px;
    background: #efefef;
    grid-row: 3/4;
}

footer p{
    margin-top: 2px;
    padding: 0;
    color: rgb(145, 121, 97);
    font-weight: bold;
}


@media (max-width: 800px){
    
    #btn-mobile{
        display: block;
    }

    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #efefef;
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
        color: black;
    }

    #btn-mobile{
        color: rgb(0, 0, 0);
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer{
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer{
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    .texto{
        width: 98%;
        height: 98%;
    }

    #imagem{
    width: 95%;
    height: 95%;
    background-repeat: no-repeat;
    background-size: cover;
    }

    #resultado{
        margin-top: 50px;
        width: 100%;
        height: 90%;
        flex-direction: column;
    }
}